<footer>
    <div class="container">
        <div class="inner">
            <p class="uppercase semibold m-4 text-right">
                © 2018 <a href="http://www.ccsipro.sk/"><strong>CCSI</strong>PRO®</a></p>
        </div>
    </div>
</footer>
</div>

</body>
</html>