<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title> Zobrazenie vstupov a nastavenie NFC kariet</title>

  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="css/fontawesome-all.css" />
  <link rel="stylesheet" href="css/custom.css" />

  <script src="js/vue.js"></script>
  <script src="js/vue-paginate.js"></script>
  <script src="js/lodash.min.js"></script>
  <script src="js/sweetalert.min.js"></script>
  <script src="js/swal-forms.js"></script>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/moment.min.js"></script>
  <script src="js/moment-with-locales.min.js"></script>
  <script src="js/bootstrap.js"></script>

  <!-- Include Date Range Picker -->
  <script src="js/daterangepicker.js"></script>
  <link rel="stylesheet" href="css/daterangepicker.css" />

  <!-- Custom JS -->
  <script src="js/custom.js"></script>