<div class="container pt-4 pb-2" style="background-color: #fff;flex-grow: 1;">
    <h3>Zobrazenie vstupov a nastavenie NFC kariet</h3>
    <hr class="dropdown-divider">
    <ul class="nav nav-pills mt-3 mb-3">
        <li class="nav-item">
            <a class="nav-link <%= path === '/' ? 'active' : '' %> ?>" href="/" role="tab" aria-controls="zobrazenie" aria-selected="true">Zobrazenie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  <%= path === '/settings' ? 'active' : '' %> ?>" href="/settings" role="tab" aria-controls="povolenie" aria-selected="false">Nastavenie</a>
        </li>
    </ul>
    <hr class="dropdown-divider">