# Application
APP_NAME=CCSIProAPI
APP_SCHEMA=http
APP_HOST=localhost
APP_PORT=3000
APP_ROUTE_PREFIX=/api
APP_MODE = development
 # same as APP_MODE
NODE_ENV = development


# Database
DB_DIALECT=sqlite
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_SQLite_PATH = database/rpi_db_vstupy.sqlite


#JWT 
JWT_SECRET_KEY = CpYOJkRQNHkZcCRiNASFMd77lOzJ8UQY7gJQI09T0GsKq5LzVhHcPqJugWUF8emg3cGAVfDnEugyblLtNdr88TLOm2uMIYJwUNHWwQNG5wvFbiwH8iYXcF_gkokqbFfoF34U51QA1vzxnhXCpBTYFA127L0l2k93xpX1KspVGfqxHU_xZXw-WSj7BjxyRrqb3cteLYc61xwG7X_ojcDT_wIdHWRMmQhazxmJetPjIdAvFZz_1o9Tsc1bs_SJJEq9d3-x8dGFc4McmcwVp8wyLXeoUcia

# Logging
LOG_OUTPUT=dev
LOG_CONSOLE_LEVEL=debug
LOG_FILE_LEVEL=debug
LOG_FILE_DIR = ./logs/
LOG_FILE_NAME= application-%DATE%.log
LOG_FILE_DATEPATTERN = YYYY-MM-DD-HH
LOG_FILE_MAXSIZE= 20m
LOG_FILE_MAXFILES= 30d


# Rate Limit
RATE_LIMIT_MAX_COUNT = 500
RATE_LIMIT_TIMEOUT_MILISECONDS = 1000
RATE_LIMIT_TIMEOUT_SECONDS = 60
RATE_LIMIT_TIMEOUT_MINITS = 1



# Path Structure
TYPEORM_MIGRATIONS=src/database/migrations/**/*.ts
TYPEORM_MIGRATIONS_DIR=src/database/migrations
TYPEORM_ENTITIES=src/api/models/**/*.ts
TYPEORM_ENTITIES_DIR=src/api/models
CONTROLLERS=src/api/controllers/**/*Controller.ts
MIDDLEWARES=src/api/middlewares/global/**/*Middleware.ts
INTERCEPTORS=src/api/interceptors/**/*Interceptor.ts
SUBSCRIBERS=src/api/subscribers/**/*Subscriber.ts
RESOLVERS=src/api/resolvers/**/*Resolver.ts
